.row-fluid
  .span2
    = profile.gravatar
  #header.span10
    %h3
      = link_to profile.username, profile_path(profile)
      %span.muted{ id:"tag-tooltip", rel: "tooltip", title: "Include one or many #hashtags in each gist description" }
        = succeed ":" do
          tags
      %span.tag
        = current_tag
    - if gists.empty?
      %p
        %strong= profile.username
        has not created any
        %strong gists
        tagged with
        = succeed "." do
          %strong.tag= current_tag
    - else
      %ul#gists.unstyled
        - gists.each do |gist|
          %li
            = gist.title
            = gist.icons
            = gist.description
      .pagination.pagination-mini
        = paginate gists
