.row-fluid
  = render "form"
#header.row-fluid
  = render "header"
- if search?
  .row-fluid
    - if gists.empty?
      %p
        Uh oh, no public
        %strong gists
        were found!
    - else
      %ul#gists.unstyled
        - gists.each do |gist|
          %li
            - unless profile_search?
              %strong.username
                = succeed "&nbsp;/".html_safe do
                  = link_to gist.profile.username, profile_path(gist.profile)
            = gist.title
            = gist.icons
            = gist.description
      .pagination.pagination-mini
        = paginate gists
