.jumbotron
  %h1 Organize Your Gists!
  %p.lead
    %strong Tag
    the description of your
    = succeed '.' do
      %strong= link_to 'gists', 'https://gist.github.com'
    Use
    %em My Gists
    for viewing
    %strong= link_to 'gists', 'https://gist.github.com'
    by
    = succeed '.' do
      %strong tag
  = link_to 'Sign in with GitHub', user_omniauth_authorize_path(:github), class: 'btn btn-large btn-primary'
%hr
= render 'help/example'
