#header.row-fluid
  %h3
    = link_to tags_path do
      %span.muted{ id:"tag-tooltip", rel: "tooltip", title: "Include one or many #hashtags in each gist description" }
        = succeed ":" do
          tags
    %span.tag
      = current_tag
.row-fluid
  - if gists.empty?
    %p
      Uh oh, no public
      %strong gists
      were found!
  - else
    %ul#gists.unstyled
      - gists.each do |gist|
        %li
          %strong.username
            = succeed "&nbsp;/".html_safe do
              = link_to gist.profile.username, profile_path(gist.profile)
          = gist.title
          = gist.icons
          = gist.description
    .pagination.pagination-mini
      = paginate gists
