#header.row-fluid
  %h3
    = link_to tags_path do
      %span.muted{ id:"tag-tooltip", rel: "tooltip", title: "Include one or many #hashtags in each gist description" }
        = succeed ":" do
          tags
    %span.text-success
      = current_tag
.row-fluid
  - if gists.empty?
    %p
      Uh oh, no public
      %strong gists
      were found!
  - else
    %dl#gists.dl-horizontal
      - gists.each do |gist|
        %dt= gist.icons
        %dd
          %strong.username
            = succeed ":" do
              = link_to gist.profile.username, profile_path(gist.profile)
          = gist.description
    .pagination.pagination-mini
      = will_paginate gists
