.row-fluid
  .span2
    = image_tag(profile.gravatar, alt: profile.username, class: 'img-polaroid')
  .span10.profile-header
    %h3
      = profile.username
      %span.muted
        = succeed ':' do
          tags
      %span.text-success
        = current_tag
    .gists
      - gists.each do |gist|
        .row-fluid
          .span1
            = gist.icons
          .span11
            %p
              = link_to gist.description, gist.url, target: '_blank'
    .pagination.pagination-mini
      = will_paginate gists
