.row-fluid
  .span2
    = image_tag(profile.gravatar, alt: profile.username, class: 'img-polaroid')
  .span10
    %h3
      = profile.username
      %span.muted
        = succeed ':' do
          tags
      %span.text-success
        = current_tag
    .gists
      - gists.each do |gist|
        .row-fluid
          .span1
            - if gist.starred?
              %i.icon-star
            - if gist.public?
              %i.icon-ok-sign
            - else
              %i.icon-lock
          .span11
            = link_to gist.description, gist.url
    .pagination.pagination-mini
      = will_paginate gists
