!!!
%html
  %head
    %meta{:content => 'width=device-width, initial-scale=1.0', :name => 'viewport'}
      %title= page_title
      %meta{:content => content_for?(:description) ? yield(:description) : 'My Gists: Organize Your Gists!', :name => 'description'}
        = stylesheet_link_tag 'application', :media => 'all'
        = javascript_include_tag 'application'
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    .container-narrow
      .masthead
        = render 'layouts/navigation'
        %h2.muted My Gists
      %hr/
      = render 'layouts/alerts'
      = yield
      %hr/
      .footer
        .row-fluid
          .span5
            %em My Gists
            = link_to 'crafted', 'https://github.com/simeonwillbanks/mygists'
            by
            = link_to '@simeonwillbanks', 'https://github.com/simeonwillbanks'
          .span4.pull-right
            Thank you
            = link_to 'GitHub', 'https://github.com'
            for
            = succeed '!' do
              %strong gists
