!!!
%html
  %head
    %meta{:content => 'width=device-width, initial-scale=1.0', :name => 'viewport'}
      %title= content_for?(:title) ? yield(:title) : 'My Gists'
      %meta{:content => content_for?(:description) ? yield(:description) : 'My Gists: Organize Your Gists!', :name => 'description'}
        = stylesheet_link_tag 'application', :media => 'all'
        = javascript_include_tag 'application'
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    .container-narrow
      .masthead
        = render 'layouts/navigation'
        %h2.muted My Gists
      %hr/
      = yield
      %hr/
      .footer
        %p
          %em My Gists
          crafted by
          = link_to '@simeonwillbanks', 'https://github.com/simeonwillbanks'
